<div class="logo"></div>
<md-content class="login view" ng-show="!$loginCtrl.loggedIn()">
  <div class="input row">
    <md-input-container class="username">
      <label>username</label>
      <input required md-no-asterisk type="text" ng-model="username">
    </md-input-container>
    <md-input-container class="password">
      <label>password</label>
      <input required md-no-asterisk type="text" ng-model="password">
    </md-input-container>
  </div>
  <div class="select row">
    <md-button class="button2" ng-click="$loginCtrl.loginClick(username, password)">Login</md-button>
    <md-button class="button2" ng-click="$loginCtrl.registerClick(username, password)">Register</md-button>
  </div>
</md-content>
